/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/merriweather-v22-latin-regular.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/merriweather-v22-latin-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/montserrat-v15-latin-ext_latin-regular.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/montserrat-v15-latin-ext_latin-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /* src: url(https://fonts.gstatic.com/s/sacramento/v8/buEzpo6gcdjy0EiZMBUG4CMf_exL.woff2) format('woff2'); */
  src: url(../fonts/sacramento-v8-latin-ext_latin-regular.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /* src: url(https://fonts.gstatic.com/s/sacramento/v8/buEzpo6gcdjy0EiZMBUG4C0f_Q.woff2) format('woff2'); */
  src: url(../fonts/sacramento-v8-latin-ext_latin-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ============================================== */
body {
  color: #ddf3f1;
  font-family: 'Merriweather', serif;
  /*font-family: Verdana,Geneva,sans-serif;*/
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;

  }

h1, h2, h3, h4, h5, h6, .projects, .contact-me {
  color: #6ABFBF;
}

h1 {
  
  font-size: 5.625rem;
  font-family: Sacramento, cursive;
  font-weight: bold;
  margin-top: 50px auto 0 auto;


}

h2 {
  font-size: 2.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

a {
color: #11999E;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
  }



nav li{
  list-style: none;
  color: #fff;
 
  
}

nav li:hover {
  background-color: #11CCD4;
  list-style: none;
  color: #fff;
}

nav li:hover a{
  background-color: #11CCD4;
  color: #fff;
  text-decoration: none;
}

/* a:hover {
  text-decoration: none;
  color: #fff;
} */
.navbarsection {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #eaf9f7;
  position: fixed;
  z-index: 1010;
  
}

.sidebar-toggle {
  display: none;
  position: fixed;
  right: 20px;
  top: 8px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  background-color: #6ABFBF;
  color: #fff;
  z-index: 10;
}

p {
  line-height: 2;
  color: #5f6362;
}

.topsecmar {
 padding-top: 5rem;
}

.mainheading {
  position: relative;
  z-index: 1001;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

hr {
border: dotted #dbebeb 6px;
border-bottom: none;
width: 5%;
margin: 100px auto;
}


.formbg {
  width: 30%;
  background-color: #eaf9f7;
  margin: 0 auto;
  border-radius: 12px;
  padding: 3rem 1rem;
  box-shadow:12px 20px 18px rgb(177, 177, 177);
}

form {
  width: 90%;
  margin: 0 auto;
}

form .alert {
  display: none;  
  margin-top: 1rem;
}
 

.form-group input {
  text-align: center;
}

.form-group textarea {
  color: rgb(204, 204, 204);
}

.top-container{
  background-color: #eaf9f7;
  height: 100vh;
}

/* .projects, .contact-me {
  padding: 2rem 1rem;
} */

.top-container {
  
  position: relative;
  padding-top: 100px;
}

.topmountain {
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.middle-container {
  margin: 100px 0;
  }

.bottom-container {
  background-color: #66BFBF;
  padding-top: 1rem;
  width: 100%;
  }

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 4px 0px;
}

.skill-row {
  width: 50%;
  /* margin: 100px auto; */
  margin: 0px auto;
  text-align: left;

}

.project-row .pcard{
  width: 364px;
}


.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 12%;
  right: 20%;
}

.bottom-cloud {
  position: absolute;
  bottom: 40%;
  left: 20%;
}

.sql-img {
  float: left;
  margin-right: 30px;
  width: 70px;
}

.education {
  width: 50%;
  margin: 0 auto;
}

.skillimg, .pcard-deck{
  display: flex;
  justify-content: space-evenly;
  
}
.pcard-deck{
  flex-wrap: wrap;
  
}


.web-prog-img {
  float: right;
  margin-left: 30px;
  width: 20%;
}

.clearfix {
  overflow: auto;
}

.challeng-img {
  float: left;
  margin-right: 30px;
  width: 20%;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 50%;
  margin: 0 auto 1rem;
  
}

.pcard .btn {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pcard-img-top {
  width: 360px;
}

.btn {
background: #11CCD4;
background-image: -webkit-linear-gradient(top, #11CCD4, #11999E);
background-image: -moz-linear-gradient(top, #11CCD4, #11999E);
background-image: -ms-linear-gradient(top, #11CCD4, #11999E);
background-image: -o-linear-gradient(top, #11CCD4, #11999E);
background-image: linear-gradient(to bottom, #11CCD4, #11999E);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
line-height: 3px;
color: #FFFFFF;
font-family: 'Montserrat', sans-serif;
/* width: 130px; */
font-size: 19px;
font-weight: 100;
padding: 21px;
text-shadow: 1px 1px 20px #000000;
border: solid #999999 0px;
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align: center;
}

.btn:hover {
background: #216DE3;
background-image: -webkit-linear-gradient(top, #11999E, #11CCD4);
background-image: -moz-linear-gradient(top, #11999E, #11CCD4);
background-image: -ms-linear-gradient(top, #11999E, #11CCD4);
background-image: -o-linear-gradient(top, #11999E, #11CCD4);
background-image: linear-gradient(to bottom, #11999E, #11CCD4);
text-decoration: none;
}

/* =================================== */
figure {
  /* border: thin #c0c0c0 solid; */
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 70px;
  margin: auto;
}

/* img {
  max-width: 220px;
  max-height: 150px;
} */

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
/* ============================================ */
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(216, 216, 216);
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(216, 216, 216);
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(216, 216, 216);
}

/* ===============================================*/
.box {
  width:70%;
  
  background:#FFF;
  margin:40px auto;
}
.pcard
{
  position: relative;
  box-shadow:12px 4px 18px rgb(208, 208, 208);
}
.pcard:before, .pcard:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.pcard:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

/* ***************** */

@media only screen and (max-width: 1450px) {
  .skill-row, .navbar {
    width: 75%;
    
  }
}

/* ***************** */

@media only screen and (max-width: 1100px) {
  .formbg {
    width: 70%;
  }
  .skill-row, .navbar {
    width: 80%;
    
  }
  .sql-img {
   width: 8%;
   
  }
}

/* ***************** */

@media only screen and (max-width: 700px) {
  .formbg {
    width: 90%;
    
  }
  .topmountain {
    width: 100%;
  }

  .navbar {
    
    flex-wrap: nowrap;
    padding-right: 0;
    padding-left: 0;
  }
  .navbar a {
    margin: 0 12px;
  }
  .top-cloud {
    top: 14%;
    right: 4%;
  }
  
  .bottom-cloud {
    bottom: 40%;
    left: 4%;
  }
  .skill-row, .navbar {
    width: 100%;
    
  }

  .intro, .contact-message, .education {
    width: 90%;
    
  }
  hr {
    width: 10%;
    margin: 2.5rem auto;
  }
}

/* ***************** */

@media only screen and (max-width: 450px) {
  
  .skill-row {
    width: 100%;
    margin: 30px 10px;
    text-align: center;
    float: none;

  }

  .web-prog-img {
    float: none;
    width: 30%;
  }

  .sql-img {
    float: none;
    width: 6%;
    /* margin: 0 auto; */
  }
 
  .challeng-img {
    float: none;
    /* margin-right: 30px; */
    width: 30%;
  }
  .clearfix {
    overflow: auto;
  }
  .navbar a {
    margin: 0 6px;
  }

  .project-row .pcard, .pcard-img-top {
    width: 350px;
}

hr {
  
  margin: 8px auto;
}
nav {
  width: 100%;
  }

.navbarsection {
  display: none;
}

.navmob {
  flex-direction: column;
  width: 90%;
  height: 500px;
  background-color: #dbebeb;
  text-align: left;
  position: absolute;
  right: 0;
  border: 1px solid #66BFBF;
  border-radius: 6px;
  font-weight: 500;
  padding-top: 48px;
}
.navmob li{
  
  padding: 1.5rem 0;
  border-bottom: 2px solid #fff;
}
.sidebar-toggle{
  display: block;
  /* position: fixed; */
  
}
nav li:hover {
  background-color: #11CCD4;
  /* list-style: none; */
  color: #fff;
}

nav li:hover a{
  background-color: #11CCD4;
  color: #fff;
  text-decoration: none;
}

.mainheading {
  z-index: unset;
 }
}
